<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="Docker" version="1">
<about>
    <name>Docker Registry Plugin V2 API</name>
    <version>${project.version}</version>
    <target-go-version>${target.go.version}</target-go-version>
    <description>
        Check for new Docker releases in a Docker Registry. This plugin is using the v2 api of docker registry.
        For more detailed information see: https://docs.docker.com/registry/spec/api/
    </description>
    <vendor>
        <name>Jan De Cooman, Manuel Kasiske</name>
        <url>https://github.com/Neofonie/gocd-docker-v2-material-poller.git</url>
    </vendor>
</about>
</go-plugin>

